/* LoginPage.css */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  width: 300px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.login-form div {
  margin-bottom: 10px;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
}

.login-form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #8C6A5D; /* Updated to primary color */
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #725048; /* Darker shade for hover */
}

.error-message {
  color: red;
}